/* begin css styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
}

/* background color for entire web page */
html {
    background-color: white;
}


/* CSS styling for navigation bar */
nav {
    background-color: #81d8d0;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    margin: 0;
    z-index: 3; 
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 20px;
}

/* CSS styling for navigation bar links */
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h2 {
    padding-bottom: 20px;
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: column;
}

/* About Me styling */
.aboutme {
    padding: 30px;
    height: 300px;
    background-color: #F0F0F0;
    margin: 10px;
}

.aboutme img {
    max-height: 150px;
    border-style: solid;
    border-color: #81d8d0;
    border-radius: 50%;
}

/* Portfolio styling */
.portfolio {
    padding: 40px;
    height: 300px;
    background-color: #F0F0F0;
    margin: 10px;
    
}
.portfolio img{
    max-height: 150px;
    border-style: solid;
    border-color: #81d8d0;
    border-radius: 10%;
}

.text-block {
    position: absolute;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 10px;
}

.text-block h3 {
    font-size: 15px;
}

.text-block p {
    font-size: 12px;
}

.projectscontainer {
    align-content: center;
    position: relative;
}

/* Resume styling */
.resume {
    padding: 40px;
    height: 300px;
    background-color: #F0F0F0;
    margin: 10px;
}

/* Contact Me styling */

.contactme {
    padding: 30px;
    height: 300px;
    background-color: #F0F0F0;
    margin: 10px;
}

.contactmecontainer {
    display: flex;
    justify-content: space-evenly;
} 

#contactmeLinkedin img{
    max-height: 40px;
    border-style: solid;
    border-color: #81d8d0;
    border-radius: 10%;
}

#contactmeGithub img{
    max-height: 40px;
    border-style: solid;
    border-color: #81d8d0;
    border-radius: 50%;
}

